.kanban-board {
  display: flex;
  height: 90vh;
}

.kanban-column {
  flex: 1;
  padding: 16px;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  background-color: #fafafa;
  width: 20vw;
}

.kanban-column:last-child {
  border-right: none;
}

.kanban-title {
  font-size: 20px;
  margin-bottom: 12px;
  text-align: center;
  color: #333;
}
